<template>
<div class="add_payment_page">
    <label class="label_payer"><b>Payer:</b></label>
    <b-form-select class="payer" v-model="selectedUserId" :options="usersDropdown"></b-form-select>
    <label class="label_recipients"><b>Recipients (amount in €):</b></label>
    <div class="recipients">
        <div class="recipient" v-for="user in users" :key="user.id">
            <div class="recipient_name">{{ user.name }}</div>
            <b-form-input class="recipient_amount" type="number" :min="0" v-model.number="user._amount" placeholder="Amount"></b-form-input>
        </div>
    </div>
    <div class="total">
        <p>Total: <p>
        <p class="total_amount">{{ totalAmount }}</p>
    </div>
    <b-button class="submit_button" type="submit" v-on:click="submit">Submit</b-button>
</div>
</template>

<script>
import Vue from 'vue'

export default {
    data() {
      return {
        users: [],
        payments: [],
        usersDropdown: [{ text: 'Select One', value: null }],
        selectedUserId: null,
        payment: {
            "paymentNumber": null,
            "payerId": "",
            "total": null,
            "payedFor": []
        },
        currentPaymentNumber: 1,
        totalAmount: 0
      }
    },
    created() {
        if (localStorage.getItem('users')) {
            this.users =JSON.parse(localStorage.getItem('users'));
            for (var i = 0; i < this.users.length; i++) {
                // Fill dropdown options.
                this.usersDropdown[i+1] = { 
                    text: this.users[i].name,
                    value: this.users[i].id 
                };
            }
        }
        if (localStorage.getItem('payments')) {
            this.payments =JSON.parse(localStorage.getItem('payments'));
            this.currentPaymentNumber = this.payments.length +1;
        }
    },
    methods: {
        submit() {
            var paymentCounter = 0;
            var payerIndex = null;
            var selectedUserName = "";

            if (this.selectedUserId == null) {
                alert(JSON.stringify("Payer must be selected"));
                return;
            }
            if (this.totalAmount <= 0) {
                alert(JSON.stringify("Valid recipients amount must be added"));
                return;
            }

            for (var i = 0; i < this.users.length; i++) {
                // Find payer position in users array.
                if (this.users[i].id === this.selectedUserId) {
                        payerIndex = i;
                        selectedUserName = this.users[i].name;
                    }
                if (this.users[i]._amount > 0) {
                    // Allowed amount.
                    var amountInCents = Number((this.users[i]._amount * 100).toFixed()); // Store money in cents.
                    // Substract from receiver balance.
                    this.users[i].balance -= amountInCents;

                    // Add to payment.
                    this.payment.payedFor[paymentCounter] = {};
                    this.payment.payedFor[paymentCounter].id = this.users[i].id;
                    this.payment.payedFor[paymentCounter].name = this.users[i].name;
                    this.payment.payedFor[paymentCounter].amount = amountInCents;
                    paymentCounter ++;
                }
                // Delete temp prop.
                Vue.delete(this.users[i], '_amount');
            }
            
            var totalAmountInCents = Number((this.totalAmount * 100).toFixed());
            // Fill payment data.
            this.payment.payerId = this.selectedUserId;
            this.payment.payerName = selectedUserName;
            this.payment.total = totalAmountInCents;
            // Add to payer balance.
            this.users[payerIndex].balance += totalAmountInCents;
            // Add payment number.
            this.payment.paymentNumber = this.currentPaymentNumber;
            this.currentPaymentNumber ++;

            // Save payment.
            this.payments.push(this.payment);
            // Send payments to localstorage.
            localStorage.setItem('payments', JSON.stringify(this.payments));

            // Send users to localstorage.
            localStorage.setItem('users', JSON.stringify(this.users));

            alert(JSON.stringify("Payment was submited successfully !"));
            
            // Clear payment form.
            this.payment = {
                "paymentNumber": null,
                "payerId": "",
                "total": null,
                "payedFor": []
            };
            this.selectedUserId = null;
        },
        usersChanged() {
            this.totalAmount = 0;

            for (var i = 0; i < this.users.length; i++) {
                if (this.users[i]._amount > 0) {
                    this.totalAmount = this.totalAmount + this.users[i]._amount;
                    // Round it to 2 decimals.
                    this.totalAmount = Number(this.totalAmount.toFixed(2)) 
                }
            }
        }
    },
    // Watcher must be set in order to see changes inside object.
    watch: {
        users: {
            handler: 'usersChanged',
            deep: true
        }
    }
  }
</script>

<style>
.add_payment_page {
    margin: 10px;
    width: 500px;
}
.add_payment_page .label_payer {
    display: flex;
    margin-left: 10px;
}
.add_payment_page .payer {
    margin-left: 10px;
    width: 90%;
    display: flex;
}
.add_payment_page .label_recipients {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
}
.add_payment_page .recipients {
    margin-left: 10px;
}
.add_payment_page .recipient {
    margin: 10px;
    display: flex;
}
.add_payment_page .recipient_name {
    margin-right: 10px;
    max-width: 380px;
    overflow: hidden;
    white-space: nowrap;
}
.add_payment_page .recipient_amount {
    width: 120px;
}
.add_payment_page .submit_button {
    margin: 15px;
    float: left;
}
.add_payment_page .total {
    margin: 10px;
    display: flex;
}
</style>