<template>
  <div class="next_payer_page">
      <div class="payers" v-for="user in sortByBalance(users)" :key="user.id">
        <div class="payer">
          <b-card bg-variant="light" :header="user.name" class="text-center">
              <div class="balance"><b>Balance: {{user.balance / 100}}€</b></div>
          </b-card>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    data() {
      return{
        users: []
      }
    },
    created() {
        if (localStorage.getItem('users')) {
            this.users = JSON.parse(localStorage.getItem('users'));
        }
    },
    methods: {
      sortByBalance: function(arr) {
        // Set slice() to avoid to generate an infinite loop!
        return arr.slice().sort(function(a, b) {
          return a.balance - b.balance;
        });
      }
  }
}
</script>

<style>
.next_payer_page {
    padding: 10px;
    width: 500px;
}
.next_payer_page .payer {
    padding-bottom: 10px;
}
</style>