<template>
  <div class="payment_list_page">
      <div class="payments" v-for="payment in reverse(payments)" :key="payment.paymentNumber">
        <div class="payment">
          <app-payment :data="payment"></app-payment>
        </div>
      </div>
  </div>
</template>

<script>
import Payment from '../components/Payment.vue';

export default {
    components: {
      'app-payment': Payment
    },
    data() {
      return{
        payments: []
      }
    },
    created() {
        if (localStorage.getItem('payments')) {
            this.payments = JSON.parse(localStorage.getItem('payments'));
        }
    },
    methods: {
      reverse: function (array) {
        return array.slice().reverse()
    }
  }
}
</script>

<style>
.payment_list_page {
    padding: 10px;
    width: 500px;
}
</style>