<template>
<div class="header_component">
   <b-nav  tabs >
    <b-nav-item class="tab" to="/">Next payer</b-nav-item>
    <b-nav-item class="tab" to="/paymentlist">Payment list</b-nav-item>
    <b-nav-item class="tab" to="/addpayment">Add payment</b-nav-item>
  </b-nav>
</div>
</template>

<script>

</script>

<style>
.header_component .tab .router-link-exact-active {
    background-color: lavender;
}
</style>