<template>
  <div class="payment_conponent">
      <b-card bg-variant="light" :header="header" class="text-center">
          <div class="payer"><b>{{data.payerName}} payed {{data.total / 100}}€ for:&nbsp;</b></div>
          <div class="payed_for" v-for="(payedFor, index) in data.payedFor" :key="payedFor.id">
                <a class="payment">&nbsp;{{payedFor.name}} ({{payedFor.amount / 100}}€)
                <a v-if="index != data.payedFor.length - 1">,</a>
                </a>
            </div>
      </b-card>
  </div>
</template>

<script>
export default {
    props: ['data'],
    data() {
      return {
          header: "" 
      }
    },
    created() {
        this.header = "Payment number: " + this.data.paymentNumber;
    }
}
</script>

<style>
.payment_conponent {
    padding-bottom: 10px;
}
.payment_conponent .payer,
.payment_conponent .payed_for {
    display: inline-block;
    float: left;
}
</style>