<template>
  <div id="app">
    <app-header></app-header> 
    <router-view></router-view>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import users from './static_data/users.json';
import payments from './static_data/payments.json';

export default {
  name: 'App',
  components: {
    'app-header': Header
  },
  beforeCreate() {
      // Send initial static data to local storage.
      localStorage.setItem('users', JSON.stringify(users));
      localStorage.setItem('payments', JSON.stringify(payments));
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
